@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{ 
    .wrapper {
      @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 ;
    }
    .link{
      @apply font-medium text-gray-800 hover:underline  hover:text-blue-700 dark:text-cyan-100 dark:hover:text-cyan-200 transition duration-300 ease-in-out;
    }
    
}
@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  #root {
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
  }